<div *ngIf="paymentDetails">
    <label id="example-radio-group-label">Please, select the payment method</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let method of paymentDetails.methods" [value]="method.id"
            (change)="paymentMethodSelected($event)">
            {{method.name}}
        </mat-radio-button>
    </mat-radio-group>
</div>