<p>Please, fill out the required fields</p>
<div class="example-container">
    <div class="form-container">
        <form [formGroup]="paymentsForm" (submit)="submit()">

            <mat-grid-list cols="4">

                <mat-grid-tile [colspan]="1" [rowspan]="1"><label>IBAN</label></mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field class="form-field" appearance="outline">
                        <input matInput formControlName="iban" required>
                        <mat-error *ngIf="submitted && paymentsForm.controls.iban.invalid">
                            <span *ngIf="paymentsForm.controls.iban.errors?.required">This field is mandatory.</span>
                            <span *ngIf="paymentsForm.controls.iban.errors?.pattern || 
                        paymentsForm.controls.iban.errors?.minlength || 
                        paymentsForm.controls.iban.errors?.maxlength">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1"><label>BIC</label></mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field class="form-field" appearance="outline">
                        <input matInput formControlName="bic" required>
                        <mat-error *ngIf="submitted && paymentsForm.controls.bic.invalid">
                            <span *ngIf="paymentsForm.controls.bic.errors?.required">This field is mandatory.</span>
                            <span *ngIf="paymentsForm.controls.bic.errors?.pattern || 
                        paymentsForm.controls.bic.errors?.minlength || 
                        paymentsForm.controls.bic.errors?.maxlength">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1"><label>Holder name</label></mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field class="form-field" appearance="outline">
                        <input matInput formControlName="holderName" required>
                        <mat-error *ngIf="submitted && paymentsForm.controls.holderName.invalid">
                            <span *ngIf="paymentsForm.controls.holderName.errors?.required">This field is
                                mandatory.</span>
                            <span *ngIf="paymentsForm.controls.holderName.errors?.minlength || 
                        paymentsForm.controls.holderName.errors?.maxlength">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>

            <button mat-raised-button color="primary" type="submit">Pay</button>
            <button mat-raised-button color="primary" type="button" (click)="returnToPaymentSelect()">Return</button>

        </form>

    </div>
</div>