<mat-card>
  <mat-card-header>
    <mat-card-title>AcmePay</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="paymentDetails">
      <div>
        <mat-icon>add_shopping_cart</mat-icon>
        <span style="font-size: 20px;float: right;">{{paymentDetails.currency}}&nbsp;{{paymentDetails.amount}}</span>
      </div>
      <app-payment-select *ngIf="selectedPaymentMethod==0" [paymentDetails]="paymentDetails"></app-payment-select>
      <app-visa-payment *ngIf="selectedPaymentMethod==1" [paymentDetails]="paymentDetails"></app-visa-payment>
      <app-sepa-payment *ngIf="selectedPaymentMethod==2" [paymentDetails]="paymentDetails"></app-sepa-payment>
      <app-payment-success *ngIf="selectedPaymentMethod==3"></app-payment-success>
    </div>
  </mat-card-content>
</mat-card>