<p>Please, fill out the required fields</p>
<div class="example-container">
    <div class="form-container">
        <form [formGroup]="paymentsForm" (submit)="submit()">
            <mat-grid-list cols="4">

                <mat-grid-tile [colspan]="1" [rowspan]="1"><label>Card holder</label></mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field class="form-field" appearance="outline">
                        <input matInput formControlName="cardHolder" required>
                        <mat-error *ngIf="submitted && paymentsForm.controls.cardHolder.invalid">
                            <span *ngIf="paymentsForm.controls.cardHolder.errors?.required">This field is
                                mandatory.</span>
                            <span *ngIf="paymentsForm.controls.cardHolder.errors?.minlength || 
                            paymentsForm.controls.cardHolder.errors?.maxlength">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1"><label>Card number</label></mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field class="form-field" appearance="outline">
                        <input matInput formControlName="pan" required>
                        <mat-error *ngIf="submitted && paymentsForm.controls.pan.invalid">
                            <span *ngIf="paymentsForm.controls.pan.errors?.required">This field is mandatory.</span>
                            <span *ngIf="paymentsForm.controls.pan.errors?.luhnAlgorithmCheckFail">This field is
                                invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1"><label>Exp date</label></mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field class="form-field" appearance="outline">
                        <input matInput formControlName="expDate" required>
                        <mat-error *ngIf="submitted && paymentsForm.controls.expDate.invalid">
                            <span *ngIf="paymentsForm.controls.expDate.errors?.required">This field is mandatory.</span>
                            <span *ngIf="paymentsForm.controls.expDate.errors?.pattern">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1"><label>CVC</label></mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field class="form-field" appearance="outline">
                        <input matInput formControlName="cvc" required>
                        <mat-error *ngIf="submitted && paymentsForm.controls.cvc.invalid">
                            <span *ngIf="paymentsForm.controls.cvc.errors?.required">This field is mandatory.</span>
                            <span *ngIf="paymentsForm.controls.cvc.errors?.pattern || 
                            paymentsForm.controls.cvc.errors?.minlength || 
                            paymentsForm.controls.cvc.errors?.maxlength">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <button mat-raised-button color="primary" type="submit">Pay</button>
            <button mat-raised-button color="primary" type="button" (click)="returnToPaymentSelect()">Return</button>
        </form>

    </div>
</div>